/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 }

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 101;
    }

    nav {
        height: 50px;
        line-height: 50px;    
    }

    a.logo {
        font-size: 20px;
        padding-top: 12px;
    }

    a.logo:hover{
        font-size:21px;
    }

    #top_menu {
        background-color: #281324;
    }

    .menu_btn {
        height: 30px;
        width: 30px;
        background-color: #210b1d;
        border-radius: 40%;
        padding:0;
    }

    .menu_btn i{
       position:absolute;
       top:8px;
       left:8px;
       font-size:14px;
       color:#d89b59;
    }

    .menu li{
        display:block;
    }

    .s1 {
        position:fixed;
        top:50px;
        left:0px;
        padding:10px 0;
        width: 100%;
        z-index: 100;
    }

    .s1-1:last-child{
        margin-top:10px;
    }

    .column1 span{
        float:none;
        color:#d89b59;
        font-size:14px;
    }

    .column2 span {
        float:none;
        color: #fff;
        font-size: 14px;
    }

    .s2{
        position:relative;
        top:160px;
        left:0;
        width:100%;
        height:100%;
    }

    .s2-column1 h2{
        margin:10px 0 0 0;
    }

    .s2-column1 span{
        margin-top:1px;
    }

    .s2-column2 {
        padding-top: 10px;
    }

    footer{
        position:relative;
        margin:160px 0 0 0;
        padding:25px 0;
    }

    .soc_btns{
        padding-bottom:15px;
    }

    .btn-information{
        font-size:9px;
        padding:0 5px;
        line-height:15px;
        top:65px;
        right:15px;
    }

    .dropdown-menu.scrollable {
        height: auto;
        max-height: 150px;
        overflow-x: hidden;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    nav {
        height: 60px;
        line-height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    #top_menu {
        background-color: #281324;
    }

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
